* {
    margin: 0 auto;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: #FFFFFF;
}

label {
    font-size: 1rem;
    color: #4A4A4A;
    margin-left: 0.25rem;
}

input {
    margin-bottom: 0.5rem;
}

button {
    font-size: 1rem;
    padding: 0.75rem;
    min-width: 4rem;
    border: none;
    background-color: #3B79DB;
    color: #FFFFFF;
}

hr {
    margin: 0.25rem 0 0.75rem 0;
    border: solid 1px #4A4A4A;
}

#config-container {
    width: 100vw;
    height: 100vh;
    background-color: #EAEAEA;
}

#config-go {
    text-align: center;
    width: 100%;
}

#error-container {
    width: 80%;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
}

#status-icon-container {
    width: 128px;
    text-align: center;
    margin-left: 2rem;
    padding-top: 5px;
    border-radius: 24px;
    background-color: #5F5F5F;
}

#settings-button {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
}

#connection-container {
    display: flex;
    height: 1.25rem;
    justify-content: left;
    align-items: center;
    margin: 1rem 0 0 1rem;
}

#connstat-text {
    font-size: 1rem;
    text-transform: capitalize;
    margin-left: 1rem;
    color: #4A4A4A;
}

.config-label {
    display: inline-block;
    width: 6.5rem;
}

.config-input {
    width: calc(100% - 7.5rem);
}

.err {
    font-size: 1rem;
    color: #C92E2E;
}

.icon {
    margin: 5px;
    border: solid 3px rgba(255, 255, 255, 0.0);
}

.selected-icon {
    border-color: rgba(255, 255, 255, 1.0);
    border-radius: 50%;
}

.connection-indicator {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0;
    border: solid 1px #4A4A4A;
    border-radius: 50%;
}

.connstat-disconnected {
    background-color: #C80000;
}

.connstat-connecting {
    background-color: #EDED34;
}

.connstat-connected {
    background-color: #0EAD1E;
}
