<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Status Tracker - Command Center</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3.2.24/dist/vue.global.prod.js"></script>
    <script type="application/javascript" src="js/websocketio.min.js"></script>
    <script type="application/javascript" src="js/status-watch.js"></script>
</head>
<body onload="init()">
    <div id="app">
        <div id="config-container" v-if="mode === 'config'">
            <div style="padding: 1rem;">
                <label class="config-label">Server: </label><input id="server" class="config-input" type="text" v-model="ws_host" /><br/>
                <label class="config-label">Secure: </label><input id="is-secure" type="checkbox" v-model="is_secure" /><br/>
                <hr/>
                <label class="config-label">Room: </label><input id="room-id" class="config-input" type="text" v-model="room" /><br/>
                <hr/>
                <label class="config-label">Seats:</label><br/>
                <label class="seat-size-label">Rows:</label><input id="seat-rows" class="seat-size-input" type="number" min="0" max="15" v-model="num_rows">
                <label class="seat-size-label">Columns:</label><input id="seat-columns" class="seat-size-input" type="number" min="0" max="20" v-model="num_cols">
                <button class="seat-size-button" type="button" @click="updateSeatSize">Update</button><br/>
                <table id="seat-table">
                    <tr v-for="(row, row_index) in seats">
                        <td v-for="(seat, col_index) in row" :style="'width: ' + 100/seats[row_index].length + '%;'">
                            <input type="text" v-model="seats[row_index][col_index]" placeholder="ID" style="font-size: 0.85rem; width: 85%;">
                        </td>
                    </tr>
                </table>
                <div id="config-go">
                    <button type="button" @click="updateConfig">Go</button>
                </div>
                <div id="error-container" v-if="error_msg !== ''" v-html="error_msg"></div>
            </div>
        </div>
        <div v-else>
            <img id="settings-button" src="images/icon_settings.png" alt="settings" width="28" height="24" @click="openConfigPanel" />
            <div id="command-center-container">
                <table style="width: 100%; border-collapse:separate; border-spacing: 0.5em 0.75em;">
                    <tr v-for="(row, row_index) in seats">
                        <td v-for="(seat, col_index) in row" :style="'width: ' + 100/seats[row_index].length + '%;'">
                            <div v-if="seats[row_index][col_index] !== ''">
                                <div style="position: relative; text-align: center;">
                                    <img class="computer-seat-icon" :src="getComputerStatus(seats[row_index][col_index])" alt="computer" />
                                    <span class="computer-seat-id">{{ seats[row_index][col_index] }}</span>
                                </div>
                                <div class="computer-seat-name-container">
                                    <p class="computer-seat-name">{{ clients.hasOwnProperty(seats[row_index][col_index]) ? clients[seats[row_index][col_index]].name : '---' }}</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="connection-container">
                <div :class="'connection-indicator connstat-' + connection_status"></div>
                <span id="connstat-text">{{ connection_status }}</span>
            </div>
        </div>
    </div>
</body>
</html>
